ion-toolbar {
  --background: var(--ion-color-primary);
}

ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-list-header {
  padding-inline-start: 0;
}

ion-input,
ion-textarea,
ion-searchbar,
ion-select,
ion-label,
ion-datetime {
  color: var(--ion-color-contrast) !important;
}

ion-input {
  --placeholder-color: var(--ion-color-contrast) !important;
}
ion-input input {
  line-height: 2rem;
}

.input-clear-icon.sc-ion-input-ios {
  background: var(--ion-color-item);
  mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='rgb%28255,255,255, 0.5%29'%20d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z%20M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>") !important;
}

.input-clear-icon.sc-ion-input-md {
  background: var(--ion-color-item);
  mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><polygon%20fill='rgb%28255,255,255, 0.5%29'%20points='405,136.798%20375.202,107%20256,226.202%20136.798,107%20107,136.798%20226.202,256%20107,375.202%20136.798,405%20256,285.798%20375.202,405%20405,375.202%20285.798,256'/></svg>") !important;
}

ion-label {
  line-height: 2.5rem;
}

ion-button {
  text-transform: none !important;
}

ion-searchbar {
  --icon-color: var(--ion-color-item) !important;
  --clear-button-color: var(--ion-color-item) !important;
  --color: var(--ion-color-contrast) !important;
  --placeholder-color: var(--ion-color-contrast) !important;
  --box-shadow: none !important;
  padding: 0 !important;
}

ion-searchbar .searchbar-search-icon,
ion-searchbar .searchbar-clear-icon {
  color: var(--ion-color-item) !important;
}

ion-picker {
  color: var(--ion-color-contrast) !important;
  --background: var(--ion-color-primary) !important;
}

ion-select::part(icon) {
  color: var(--ion-color-item) !important;
  opacity: 1;
}

ion-card {
  color: var(--ion-color-primary-contrast) !important;
  --background: var(--ion-color-primary) !important;
  font-size: 1.1rem;
  border-radius: 0;
}

ion-list {
  background: var(--ion-color-secondary) !important;
}

.submit-button {
  --box-shadow: 0 0.3rem var(--ion-color-primary-shade);
  font-size: 1.1rem;
  height: 2.5rem;
}

.submit-button:active {
  --box-shadow: 0 0.15rem var(--ion-color-primary-shade);
  transform: translateY(0.15rem);
  -webkit-transform: translateY(0.15rem);
  -moz-transform: translateY(0.15rem);
  -ms-transform: translateY(0.15rem);
  -o-transform: translateY(0.15rem);
}

.icon-button {
  --box-shadow: 0 0.15rem var(--ion-color-primary-shade);
  width: 3rem;
  height: 3rem;
  align-self: flex-start;
}

.icon-button--absolute {
  --box-shadow: 0 0.15rem var(--ion-color-primary-shade);
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 0rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.icon-button--clear {
  width: 3rem;
  height: 3rem;
}

.icon-button:active,
.icon-button--absolute:active {
  --box-shadow: 0 0.075rem var(--ion-color-primary-shade);
  transform: translateY(0.1rem);
  -webkit-transform: translateY(0.1rem);
  -moz-transform: translateY(0.1rem);
  -ms-transform: translateY(0.1rem);
  -o-transform: translateY(0.1rem);
}

.picker-button,
.picker-opt {
  color: var(--ion-color-primary-contrast) !important;
}

.picker-above-highlight,
.picker-below-highlight {
  background: linear-gradient(
    to bottom,
    var(--background, var(--ion-color-primary)) 20%,
    rgba(var(--background-rgb, var(--ion-color-primary)), 0.8) 100%
  ) !important;
  border-color: var(--ion-color-primary-contrast) !important;
  display: block !important;
}

.app-alert .alert-wrapper {
  --background: var(--ion-color-secondary);
  box-shadow: 0.0625rem 0.0625rem 0.0625rem #000;
}

.app-alert .alert-head {
  background: var(--ion-color-primary);
}

.app-alert .alert-title {
  font-size: 1.1rem;
  color: var(--ion-color-primary-contrast);
}

.app-alert .alert-message,
.app-alert .alert-input-group {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 2rem;
  background: var(--ion-color-secondary);
  color: var(--ion-color-contrast) !important;
}

.app-alert .alert-button,
.app-alert .alert-radio-label,
.app-alert .alert-radio-icon {
  color: var(--ion-color-contrast) !important;
}

.app-alert .alert-radio-icon {
  border-color: var(--ion-color-item) !important;
}

.app-alert .alert-radio-inner {
  border-color: var(--ion-color-item) !important;
}

.app-alert .alert-radio-inner.sc-ion-alert-md {
  border-color: var(--ion-color-item) !important;
  background: var(--ion-color-item) !important;
}

.refresher-pulling-icon {
  background: var(--ion-color-item) !important;
}

.refresher-pulling-icon ion-spinner {
  color: var(--ion-color-primary-contrast) !important;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-top: constant(safe-area-inset-top);
}
