ion-toolbar {
  --background: var(--ion-color-primary);
}

ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-list-header {
  padding-inline-start: 0;
}

ion-fab-button {
  --box-shadow: 0 0.2rem var(--ion-color-primary-shade);
}

ion-fab-button:active {
  --box-shadow: 0 0.1rem var(--ion-color-primary-shade);
  transform: translateY(0.1rem);
}

ion-fab-button ion-icon {
  color: var(--ion-color-item);
}

ion-input,
ion-textarea,
ion-searchbar,
ion-select,
ion-label,
ion-datetime {
  color: var(--ion-color-contrast) !important;
}

ion-input {
  --placeholder-color: var(--ion-color-contrast) !important;
}
ion-input input {
  line-height: 2rem;
}

ion-label {
  line-height: 2.5rem;
}

ion-button {
  text-transform: none !important;
}

ion-searchbar {
  --icon-color: var(--ion-color-item) !important;
  --clear-button-color: var(--ion-color-item) !important;
  --color: var(--ion-color-contrast) !important;
  --placeholder-color: var(--ion-color-contrast) !important;
  --box-shadow: none !important;
  padding: 0 !important;
}

ion-searchbar .searchbar-search-icon,
ion-searchbar .searchbar-clear-icon {
  color: var(--ion-color-item) !important;
}

ion-picker {
  color: var(--ion-color-contrast) !important;
  --background: var(--ion-color-primary) !important;
}

ion-select::part(icon) {
  color: var(--ion-color-item) !important;
  opacity: 1;
}

ion-card {
  color: var(--ion-color-primary-contrast) !important;
  --background: var(--ion-color-primary) !important;
  padding: 1.5rem;
  text-align: center;
  margin-top: 3rem;
  font-size: 1.1rem;
}

ion-list {
  background: var(--ion-color-secondary) !important;
}

.submit-button {
  --box-shadow: 0 0.3rem var(--ion-color-primary-shade);
  font-size: 1.1rem;
}

.submit-button:active {
  --box-shadow: 0 0.15rem var(--ion-color-primary-shade);
  transform: translateY(0.15rem);
  -webkit-transform: translateY(0.15rem);
  -moz-transform: translateY(0.15rem);
  -ms-transform: translateY(0.15rem);
  -o-transform: translateY(0.15rem);
}

.icon-button {
  --box-shadow: 0 0.15rem var(--ion-color-primary-shade);
  width: 3rem;
  height: 3rem;
  align-self: flex-start;
}

.icon-button--absolute {
  --box-shadow: 0 0.15rem var(--ion-color-primary-shade);
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 0rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.icon-button--clear {
  width: 3rem;
  height: 3rem;
}

.icon-button:active,
.icon-button--absolute:active {
  --box-shadow: 0 0.075rem var(--ion-color-primary-shade);
  transform: translateY(0.1rem);
  -webkit-transform: translateY(0.1rem);
  -moz-transform: translateY(0.1rem);
  -ms-transform: translateY(0.1rem);
  -o-transform: translateY(0.1rem);
}

.picker-button,
.picker-opt {
  color: var(--ion-color-primary-contrast) !important;
}

.picker-above-highlight,
.picker-below-highlight {
  background: linear-gradient(
    to bottom,
    var(--background, var(--ion-color-primary)) 20%,
    rgba(var(--background-rgb, var(--ion-color-primary)), 0.8) 100%
  ) !important;
  border-color: var(--ion-color-primary-contrast) !important;
  display: block !important;
}

.app-alert .alert-wrapper {
  --background: var(--ion-color-secondary);
  box-shadow: 0.0625rem 0.0625rem 0.0625rem #000;
}

.app-alert .alert-head {
  background: var(--ion-color-primary);
}

.app-alert .alert-title {
  font-size: 1.1rem;
  color: var(--ion-color-primary-contrast);
}

.app-alert .alert-message,
.app-alert .alert-input-group {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 2rem;
  background: var(--ion-color-secondary);
  color: var(--ion-color-contrast) !important;
}

.app-alert .alert-button,
.app-alert .alert-radio-label,
.app-alert .alert-radio-icon {
  color: var(--ion-color-contrast) !important;
}

.app-alert .alert-radio-icon {
  border-color: var(--ion-color-item) !important;
}

.app-alert .alert-radio-inner {
  border-color: var(--ion-color-item) !important;
}

.app-alert .alert-radio-inner.sc-ion-alert-md {
  border-color: var(--ion-color-item) !important;
  background: var(--ion-color-item) !important;
}

.refresher-pulling-icon {
  background: var(--ion-color-item) !important;
}

.refresher-pulling-icon ion-spinner{
  color: var(--ion-color-primary-contrast) !important;
}
